body {
 
  
  background-color:black;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  color: aliceblue;
  margin:30px;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
